.panel-load-container {
  height:400px;
  width:100%;
  overflow:hidden;
  position:relative;
}

.load1 .loader,
.load1 .loader:before,
.load1 .loader:after {
  background: #0080db;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.load1 .loader {
  color: #0080db;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.load1 .loader:before,
.load1 .loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.load1 .loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.load1 .loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}


/*NPF STYLES - from Euan's original code*/
body,h1,h2,h3,h4,h5,h6,body, html {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    /*height: 100%;*/
    color: #777;
    line-height: 1.8;
}

.w3-display-container{position:relative}
.w3-opacity-min{opacity:0.75}
.w3-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.w3-large{font-size:18px!important}
.w3-xlarge{font-size:24px!important}
.w3-xxlarge{font-size:36px!important}
.w3-text-white,.w3-hover-text-white:hover{color:#fff!important}
.w3-wide{letter-spacing:10px}
.w3-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.w3-content{max-width:980px;margin:auto}
.w3-text-grey,.w3-hover-text-grey:hover,.w3-text-gray,.w3-hover-text-gray:hover{color:#757575!important}
.w3-margin-right{margin-right:16px!important}
.w3-text-black,.w3-hover-text-black:hover{color:#000!important}
.w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important}
.w3-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.w3-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.w3-button:hover{color:#000!important;background-color:#ccc!important}
.w3-padding-large{padding:12px 24px!important}
.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding,.e3-sixth>.w3-col{padding:0 8px}
.w3-center{text-align:center!important}
.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter,.e3-sixth{float:left;width:100%}
.w3-opacity,.w3-hover-opacity:hover{opacity:0.60}.w3-opacity-off,.w3-hover-opacity-off:hover{opacity:1}
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}
.w3-round-small{border-radius:2px}.w3-round,.w3-round-medium{border-radius:4px}.w3-round-large{border-radius:8px}.w3-round-xlarge{border-radius:16px}.w3-round-xxlarge{border-radius:32px}
.w3-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.w3-padding-small{padding:4px 8px!important}
.w3-quarter{width:24.99999%}
.w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.w3-col.m6,.w3-half{width:49.99999%}
.w3-hover-opacity {cursor: pointer;}

a.e3-white {
  color:white;
  padding-left: 5px;
}

.e3-display-middle{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -webkit-transfrom:translate(-50%,-50%);
  
}

.e3-display-top {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}


button.greyscalebutton {
    background-color: #DDE5F1;
    color: #777;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border: 2px solid #7597c5;
}

button.greyscalebutton.active, button.greyscalebutton:hover {
    background-color: #7597c5;
    color: white;
}

/*
#npf-legend span span {margin-left:20px;}  
*/

/*EEF FONT STYLES*/
.eef-text, .eef-text h1, .eef-text h2, .eef-text h3, .eef-text h4, .eef-text h5, .eef-text h6{
  color:black;
  font-family:Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }

.eef-text p, .eef-text li{
  color:black;
  font-family:Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style:normal;
  font-weight:normal;
  font-size: 20px;
}

.eef-text img {
  max-width:100%;
}

.eef-text em {
  font-style:normal;
  font-weight:normal;
  color:#0068b3;
}

.eef-text h1{
  font-style:normal;
  font-weight:normal;
  font-size:300%;
}

.eef-text h2{
  font-style:normal;
  font-weight:normal;
  font-size:225%;
}

.eef-text h3{
  font-style:normal;
  font-weight:normal;
  font-size:225%;
}

.eef-text h4{
  font-style:normal;
  font-weight:normal;
  font-size:150%;
}

.eef-text h5{
  font-style:normal;
  font-weight:bold;
  font-size:135%;
}
  
.eef-text a{
  font-family:Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style:normal;
  font-weight:normal;
  text-decoration:underline;
  }
.eef-text a:hover {
  color:#cc3300;
}
.eef-text a:not(:hover) {
  color:#0099cc;
}
.eef-text hr {
  border-top: 1px solid #bbb;
}

/*EEF COLOURS*/



.eef-blue {
  background-color:#0068b3; /*35%*/
  color:white;
}

.eef-mid-blue {
  background-color:#007dd6; /*42%*/
  color:white;
}

.eef-light-blue {
  background-color:#0095FF; /*50%*/
  color:white;
}

.eef-gray {
  background-color:#757575;
  color:white;
}

/*UTILITY*/

.eef-overflow {
  overflow:auto
}

.eef-clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*HELP*/

#eef-help-blank {
  position:fixed;
  width:100%;
  height:100%;
  left:0;
  opacity:0.6;
  background-color:black;
  z-index:1097;
}
.eef-help {
  position:fixed;
  top:10%;
  left:10%;
  right:10%;
  bottom:10%;
  border-color:black;
  border-width:5px;
  border-style:solid;
  overflow-y:auto;
  background-color:white;
  z-index:1098;
  padding:10px;
 overflow-y:auto;
}
#eef-help-close {
  position:fixed;
  top:10px;
  right:10px;
  border-style:none;
  z-index:1099;
  opacity:0.75;
}


/*FEEDBACK BANNER*/

#eef-feedback {
  position:absolute;
  /*bottom:0px;*/
  top:0px;
  left:0px;
  border-width:0;
  width:100%;
  height:70px;
  background-color:#ffc599;
  z-index:95;

}
#eef-feedback-close {
  position:fixed;
  top:10px;
  /*bottom:66px;*/
  right:10px;
  border-style:none;
  z-index:96;
  opacity:0.75;
}

@media only screen and (max-width: 840px) {
#eef-feedback {
  height:105px;
  }
}

@media only screen and (max-width: 600px) {
#eef-feedback {
  height:140px;
  }
}

@media only screen and (max-width: 480px) {
#eef-feedback {
  height:200px;
  }
}

/*HEADER IMAGE & TITLE*/

.eef-header-title {
  font-size:24px;
  letter-spacing:5px;
  
}

.eef-header-box {
  height:660px;
  width:100%
}

div.eef-header {
  background-color:#0068b3;
  position: absolute !important;
  top:0;
  left:20px;
  width:calc(100% - 40px);
  height:200px;
  top:200px;
}
div.eef-header-menu {
  position: absolute !important;
  top:400px;
  left:20px;
  width:calc(100% - 40px);
  height:60px;
}
div.eef-header-image-menu {
  position: absolute;
  top:300px;
  height:60px; 
  width:100%;
}



#eef-header-main-logo {
  text-align:center;
  margin-top:20px;
  opacity:1;
}

#eef-header-sg-logo {
  text-align:center;
  margin-top:20px;
  opacity:1;
}

#eef-header-main-logo img {
  height:100px;
  width:246px;
}

#eef-header-sg-logo img {
  height:50px;
  width:270px;
  margin:auto;
}

@media only screen and (min-width: 480px) {
div.eef-header {
   top:140px;
}
div.eef-header-menu {
  top:340px;
}
.eef-header-box {
  height:600px;
}
}

@media only screen and (min-width: 600px) {
div.eef-header {
   top:105px;
}
div.eef-header-menu {
  top:305px;
}
.eef-header-box {
  height:565px;
}
}


@media only screen and (min-width: 760px) {

.eef-header-left {
  position:absolute;
  left:10px;
  padding-left:20px;
  margin-right:20px;
  bottom:50px;
  opacity:0.75;
}

.eef-header-right {
  position:absolute;
  padding-right:20px;
  right:10px;
  bottom:85px;
  opacity:0.75;
}

.eef-header-left img {
  height:140px;
  opacity:1;
}

.eef-header-right img {
  height:70px;
  opacity:1;
}

#eef-header-main-logo {
  text-align:left;
  bottom:60px;
  opacity:1;
}

#eef-header-sg-logo {
  text-align:left;
  bottom:90px;
  opacity:1;
}

#eef-header-main-logo img {
  height:120px;
  width:295px;
  
}

#eef-header-sg-logo img {
  height:50px;
  width:270px;
}


}

@media only screen and (min-width: 768px) {

div.eef-header {
 height:240px;
  top:70px;
}
div.eef-header-menu {
  top:310px;
}

.eef-header-title {
  font-size:28px;
}

.eef-header-box {
  height:400px;
}

.eef-header-centre {
  width: calc(100% - 600px);
  min-width:350px;
}

}

@media only screen and (min-width: 1024px) {

.eef-header-left {
  left:20px;
  bottom:20px;
}
.eef-header-right {
  right:20px;
  bottom:70px;
}

.eef-header-title {
  font-size:36px;
}

.eef-header-left img {
  height:200px;
}

.eef-header-right img {
  height:100px;
}

#eef-header-main-logo img {
  height:160px;
  width:394px;
}

#eef-header-sg-logo img {
  height:80px;
  width:433px;
}
}







@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .msie11{ padding-right:40px;right:40px; } /*fix for IE10+*/
  #eef-header-sg-logo {padding-right:20px;right:20px;}
}


@media only screen and (min-width: 1024px) {
.eef-header-title {
  font-size:36px;
}
.eef-header-right {
  opacity:0.75;
}
}

/*HEADER NAVIGATION*/


.eef-page-links15,.eef-page-links20,.eef-page-links25 {
  width:100%;
}

.eef-page-links2 {
  cursor: pointer;
  display:block;
  float:left;
  height:50px;
  line-height:50px;
  text-align:center;
  border: none;
  outline: none;
  overflow:hidden;
  /*  border: 2px solid #7597c5;*/
  
}

@media only screen and (min-width: 768px) {
.eef-page-links20 {
  width: 19.99999999%;
}
.eef-page-links15 {
  width: 14.99999999%;
}
.eef-page-links25 {
  width: 24.99999999%;
}

}

@media only screen and (min-width: 992px) {
.eef-page-links2 {
  font-size:120%;
}  
} 

.eef-page-links2:not(.eef-page-links-active) {
  background-color:#ccf2ff;
  background-color:#007ea8;
  background-color:#0095ff;
  text-decoration:none;
  color:#0068b3;
  color:white;
}

.eef-page-links2:hover, .eef-page-links2:focus{
  background-color:#0068b3;
  text-decoration:none;
  color:#0068b3;
  color:white;
}

/*no longer used*/
#eef-logo-home {
  background-color:white;
  border:none;
}

/*no longer used*/
#eef-logo-home:hover {
  background-color:#99e6ff;
}

/*GRID*/

div.eef-grid-container {
  max-width:940px;
  margin:auto;
}

 

/*The wrapper is used to give a fixed size that the containing elements are scaled relative to.
210px is height of header row, 6% is size of the grid square (relative to total grid) - needs working on before can be made mobile friendly as some lengths are hardcoded in pixels and  some are relative to grid wrapper size*/

.eef-grid-wrapper {
  height:910px;
  width:700px;      /*should equal height-210px*/
  line-height:42px; /*should equal 6% of width*/
  position:relative;
  border-width:1px;
  border-color:black;
  border-style:none;
  margin:auto;
  margin-top:50px;
  
}

.eef-grid-icon {
  height:75%;
  margin-left:6px;
  margin-right:6px;
}

#eef-grid-title {
  height:210px;
  line-height:210px;
  width:50%;
  position:absolute;
  top:0;
  left:0;
  float:left;
  border-style:none;
  border-left-style:solid;
  border-top-style:solid;
  border-width:3px;
  border-color:#5cbbff;
  background-color:white;
  text-align:center;
}

.eef-grid-equality{
  width:210px;
  position:absolute;
  top:0;
  left:50%;
  float:left;
  border-width:1px;
  border-color:CornflowerBlue;
  border-style:none;
  transform-origin: 0 0;
  transform: translate(0px,210px) rotate(270deg);
}

.eef-grid-content {
  position:absolute;
  top:210px;
  height:calc(100% - 210px);
  left:0;
  width:100%;
  float:left;
  border-width:1px;
  border-color:CornflowerBlue;
  border-style:none;

}

/*Grid text and links*/
.eef-grid-title p{
  height:100%;
  width:100%;
  display:block;
}

.eef-grid-equality a{
 display:block;
 padding-left:0%;
}

/*Grid policy and intersection boxes*/
.eef-grid-square {
  height:6%;
  width:6%;
  float:left;
  border-width:1px;
  border-color:CornflowerBlue;
  border-style:none;
  display:block;
  text-align:center;
  margin:0;
}

.eef-grid-info {
  height:50%;
  width:50%;
  opacity:0.6;
}

.eef-grid-info90 {
  height:20px;
  width:20px;
  opacity:0.6;
  margin-left:10px;
  margin-right:10px;
}

.eef-grid-policy{
  height:6%;
  width:50%;
  float:left;
  border-width:1px;
  border-color:CornflowerBlue;
  border-style:none;
  display:block;
  margin:0;
}

/*Grid hover effects and deactive default link formatting*/
.eef-grid-equality a:hover, .eef-grid-content a:hover, .eef-grid-equality a:focus, .eef-grid-content a:focus{
  color:white;
  text-decoration: none;
  background-color:#5f91ec; /*version 1,2 and 3*/
  background-color:#1b61e4; /*version 4*/
  background-color:#007ea8;
  background-color:#005999;
  display:block;
  
}

.eef-grid-equality a:not(:hover), .eef-grid-content a:not(:hover){
  text-decoration: none;
}

/*Grid colours*/

.eef-grid00 {
  background-color:#bbd0f7;/*version 1,2 and 4*/
/*  background-color:#a4c4f4;/*version 3*/
  background-color:#99e6ff;
  background-color:#99d5ff; /*light*/
}

.eef-grid01 {
  background-color:#a4c4f4;/*version 1, 2 and 3*/
  background-color:#96b6f3;/*version 4*/
  background-color:#4dd2ff;
  background-color:#5cbbff; /*mid*/
}

.eef-grid10 {
  background-color:#a4c4f4;/*version 1 and 2*/
  background-color:#96b6f3;/*version 4*/
/*  background-color:#bad1f7;/*version 3*/
  background-color:#4dd2ff;
 background-color:#5cbbff; /*mid*/
 }

.eef-grid11 {
  background-color:#8db0f2;/*version 1*/
  background-color:#76a0ef;/*version 4*/
/*  background-color:#bad1f7;/*version 2 and 3*/
  background-color:#00bfff;
  background-color:#1a9fff; /*regular*/
}

.eef-grid20 {
  color:black;
  background-color:#a4c4f4;/*version 1*/
  background-color:#8db0f2;/*version 4*/
/*  background-color:#bad1f7;/*version 3*/
  background-color:#4dd2ff;
  background-color:#5cbbff; /*mid*/
 font-size:15px;
 font-weight:normal;
 font-family:Arial;
 }

.eef-grid21 {
  color:white;
  background-color:#8db0f2;/*version 1*/
  background-color:#4881ea;/*version 4*/
/*  background-color:#bad1f7;/*version 2 and 3*/
  background-color:#00ace6;
  background-color:#0095ff; /*dark*/
 font-size:110%;
 font-size:15px;
 font-weight:normal;
 font-family:Arial;
 }

/*MOBILE GRID*/

.eef-mobile-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  left:0;
  width:90%;
}

.eef-mobile-grid {
  position:relative;
  padding-left:10px;
  width: 90%;
  margin-left:5%;
  height:60px;
  line-height:60px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
  display:block;
  cursor: pointer;
  text-decoration: none;
  color:white;
  /*  border: 2px solid #7597c5;*/
}

.eef-mobile-grid.main {
  background-color:#0068b3;
}
.eef-mobile-grid.main:hover,.eef-mobile-grid.main:focus {
  background-color:#005999;
    text-decoration:none;
  color:white;
}
.eef-mobile-grid.sub:hover,.eef-mobile-grid.sub:focus {
  background-color:#0089eb;
    text-decoration:none;
  color:white;
}
.eef-mobile-grid.sub {
  width: 90%;
  background-color:#1a9fff;
}
.eef-mobile-grid-icon {
  height:60px;
}
.eef-mobile-grid-icon img {
  margin-top:10%;
}

/*SECTION HEADERS & BUTTONS*/

button.eef-section-header {
  position:relative;
  cursor: pointer;
  width: 100%;
  height:60px;
  padding-right:60px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
  display:block;
  /*  border: 2px solid #7597c5;*/
}
button.eef-section-header.eef-section-main {
 background-color:#007dd6; /*42%*/
 background-color:#0068b3; /*test - DELETE*/
color:white; 
}
button.eef-section-header.eef-section-links {
 background-color:#007dd6; /*42%*/
 background-color:#0068b3; /*test - DELETE*/
color:white; 
}
button.eef-section-header.eef-section-main:not(.active) {
  background-color:#757575;
  background-color:#1a9fff; /*test - DELETE*/
  color:white;
}
button.eef-section-header.eef-section-links:not(.active){
  background-color:#757575;
  background-color:#0068b3; /*test - DELETE*/
  color:white;
}
button.eef-section-header.eef-section-main:focus,button.eef-section-header.eef-section-main:hover {
  background-color:#005999;
  /*border: 3px solid #005999;*/
}
button.eef-section-header.eef-section-main:not(.active):focus,button.eef-section-header.eef-section-main:not(.active):hover {
  background-color:#1a9fff;
  background-color:#0089eb;
  /*border: 3px solid #005999;*/
}
button.eef-section-header.eef-section-links:focus,button.eef-section-header.eef-section-links:hover {
  background-color:#005999;
  background-color:#004d85;
    /*border: 3px solid #005999;*/
}

button.eef-section-header:not(.active):focus,button.eef-section-header:not(.active):hover {
  background-color:#005999;
  background-color:#004d85;
    /*border: 3px solid #005999;*/
}

.eef-section-header-expand,.eef-section-header-collapse {
  position:absolute;
  top:0px;
  right:0px;
  height:28px;
  margin:16px
}

.eef-equality-buttons8 {
  cursor: pointer;
  width: 12.5%;
  float:left;
  height:54px;
  line-height:18px;
  border: none;
  outline: none;
  font-size: 14px;
  transition: 0.4s;
  color:white;
  /*background-color:#00ace6;*/
  /*  border: 2px solid #7597c5;*/
}

.eef-equality-buttons9 {
  cursor: pointer;
  width: 11.1111111111%;
  float:left;
  height:50px;
  border: none;
  outline: none;
  font-size: 12px;
  transition: 0.4s;
  color:white;
  /*background-color:#00ace6;*/
  /*  border: 2px solid #7597c5;*/
}

.eef-equality-buttons-light.inactive,.eef-equality-buttons-dark.inactive {
  background-color:#757575;
}
.eef-equality-buttons-light.inactive:hover,.eef-equality-buttons-dark.inactive:hover, .eef-equality-buttons-light.inactive:focus,.eef-equality-buttons-dark.inactive:focus {
  background-color:#696969;
}
.eef-equality-buttons-light.inactive.selected,.eef-equality-buttons-dark.inactive.selected {
  background-color:#606060;
}

.eef-equality-buttons-dark.selected:not(.inactive) {
  background-color:#0068b3;
 background-color:#0068b3; /*test - DELETE*/
}

.eef-equality-buttons-dark:not(.selected):not(.inactive) {
  background-color:#007dd6;
  background-color:#1a9fff; /*test - DELETE*/
}

.eef-equality-buttons-dark:not(.selected):not(.inactive):hover, .eef-equality-buttons-dark:not(.selected):not(.inactive):focus {
   background-color:#0071c2;
   background-color:#0089eb;
}

.eef-equality-buttons-dark.selected:not(.inactive):hover, .eef-equality-buttons-dark.selected:not(.inactive):focus {
   background-color:#0068b3;
/*   background-color:#005999;*/
}

.eef-equality-buttons-light.selected:not(.inactive) {
  background-color:#007dd6;
 background-color:#0068b3; /*test - DELETE*/
}


.eef-equality-buttons-light:not(.selected):not(.inactive) {
  background-color:#0095FF;
  background-color:#1a9fff; /*test - DELETE*/
}

.eef-equality-buttons-light.selected:not(.inactive):hover, .eef-equality-buttons-light.selected:not(.inactive):focus {
  background-color:#007dd6;
 background-color:#0068b3; /*test - DELETE*/
/*background-color:#005999; /*test - DELETE*/
}

.eef-equality-buttons-light:not(.selected):not(.inactive):hover, .eef-equality-buttons-light:not(.selected):not(.inactive):focus {
   background-color:#0089eb;
}

/*EVIDENCE TOPIC PANELS*/

.eef-plot {
  width:100%;
}

.eef-options-container {
  width:800px;
}
.eef-options-toggle {
  margin:0;
  width:120px;
  width:100% !important;
}
.eef-options {
  margin-left:20px;
  width:210px;
}
.eef-scroll {
  overflow-y:auto;
  max-height:180px;
}
.eef-spacer {
  height:10px;
  width:5px;
}

.eef-options-zoom {
   background-color:#0089eb;
   border:none;
   height:36px;
   width:36px;
   margin:0 6px 0 0;
}


.eef-options-container {
  width:25%;
  width:calc(100% - 675px);
}

.eef-options-toggle {
 margin:0;
   width:100% !important;
}
.eef-options {
margin:0;
  width:100%;
} 


/*EEF GRAPH PANELS*/


.eef-graph-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap:wrap;
}

.eef-graph-header-button {
  float:left;
  margin-left:6px;
  background-color:#0089eb;
  color:white !important;
  margin-bottom:6px;
}

.eef-graph-header-button:hover, .eef-graph-header-button:focus {
  background-color:#0089eb;
  color:white !important;
  opacity:0.75;
}

.eef-graph-header-text {
  flex-grow: 1;
}

/*TIME SERIES CHARTS*/

.dygraph-legend > span { display: none; }
.dygraph-legend > span.highlight { display: inline;}
.dygraph-legend {
  background-color:#222222;
  border-style:solid;
  border-width:1px;
  border-color:#777777;
  padding:5px;
}
    
/*PIE CHARTS*/
.eef-pie-chart-container {
  width:50%;
  min-width:300px;
  position:relative;
}

.eef-pie-chart-overlay {
  position:absolute;
  top:120px;
  height:60px;
  width:100%;
}

/*HEADER IMAGES*/

/* Create a Parallax Effect - background-image is added using style attribute*/
.eefParallax {
  background-attachment: fixed;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  left:20px;
  width:calc(100% - 40px);
    
}
@media only screen and (max-device-width: 1024px) {
    .eefParallax{
        background-attachment: scroll;
    }
}

/*Subheader*/
.eef-subheader-text {
  max-width:90%;
  text-align:center;
}

@media only screen and (min-width: 768px) {
  .eef-subheader-text {
    white-space:nowrap;
  }
}

/*FOOTER*/

.eef-footer {
   height: 200px !important;
}

/*NAV - mostly no longer used*/

.navbar-default > .container {
   width: 100%;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 2000;
   background-color: #7597c5;
   color: white;
}



.navbar-header, .navbar-default .caret {
   display: none;
}


.navbar-default .navbar-nav > li > a, .dropdown-menu > li > a {
   font-family: 'Gustan', Helvetica, Arial, sans-serif;
   font-size: 16px;
   font-weight: 200;
   color: white;
}

.navbar-default .navbar-nav > li > a, .dropdown-menu > li:hover{
   font-family: 'Gustan', Helvetica, Arial, sans-serif;
   font-size: 16px;
   font-weight: 200;
   color: white;
}

.navbar-default .navbar-nav > li.active > a, .dropdown-menu > li.active > a {
   font-weight: 800;
   color: white;
}

.navbar-default .navbar-nav > li.active > a, .dropdown-menu > li a {
   font-weight: 400;
   color: white;
}


/* Navbar background */
.navbar-default {
   background-color: #7597c5;
}


/* Top-level nav buttons */
.navbar-default .navbar-nav > li > a:hover{
   color:white;
   text-decoration: underline;
}

.navbar-default .navbar-nav > li:hover {
   color: yellow;
   background: transparent;
   /*border-image: linear-gradient(to right, yellow 0%, yellow 100%) 1 1 stretch;
   border-image-width: 1 0 0 0;*/
}

.navbar .nav > li > a, .navbar .nav > li > a:first-letter {
color:          white;
text-shadow:    none;
padding:0;
}
/* Adjust Menu colors - Hover */
.navbar .nav > li > a:hover, .navbar .nav > li > a:hover:first-letter { 
color:          white;                      
text-shadow:    none;
}


.navbar-default .navbar-nav > a:hover {
  text-decoration: underline;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
   color: white;
   background-color: transparent;
   text-decoration: underline;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
   background-color: transparent;
   color: white;
}



/* Drop-down navigation box */

.dropdown-menu {
   color: white;
   background-color: #7597c5;
}
/* Drop-down navigation buttons */

.dropdown-menu > li > a:hover {
   color: white;
   background-color: inherit;
   text-decoration: underline;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
   color: white;
   background-color: inherit;
}

