/*EEF FONT STYLES*/

.eef-text, .eef-text h1, .eef-text h2, .eef-text h3, .eef-text h4, .eef-text h5, .eef-text h6{
  color:black;
  font-family:Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  

  
.eef-text p, .eef-text li{
  color:black;
  font-family:Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style:normal;
  font-weight:normal;
  font-size: 20px;
}

.eef-text em {
  font-style:normal;
  font-weight:normal;
  color:#0068b3;
}

.eef-text h1{
  font-style:normal;
  font-weight:normal;
  font-size:300%;
}

.eef-text h2{
  font-style:normal;
  font-weight:normal;
  font-size:225%;
}

.eef-text h3{
  font-style:normal;
  font-weight:normal;
  font-size:150%;
}

.eef-text h4{
  color:#0068b3;
  font-style:bold;
  font-weight:normal;
  font-size:125%;
}

.eef-text h5{
  font-style:bold;
  font-weight:normal;
  font-size:125%;
}
  
.eef-text a{
  font-family:Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style:normal;
  font-weight:normal;
  text-decoration:underline;
  }
.eef-text a:hover {
  color:#cc3300;
}
.eef-text a:not(:hover) {
  color:#0099cc;
}

.eef-btn, .eef-btn:hover, .eef-btn:focus {
  background-color:#0089eb;
  color:white !important;
  margin-bottom:6px;
}

.eef-btn:hover, .eef-btn:focus {
  opacity:0.75;
}


/*EEF COLOURS*/



.eef-blue {
  background-color:#0068b3; /*35%*/
  color:white;
}

.eef-mid-blue {
  background-color:#007dd6; /*42%*/
  color:white;
}

.eef-light-blue {
  background-color:#0095FF; /*50%*/
  color:white;
}

.eef-gray {
  background-color:#757575;
  color:white;
}

/*ICONS FOR INFO, OK,...*/

p.ok, p.warning, p.error, p.waiting, p.barred, p.info{padding-left: 30px;background-repeat:no-repeat;background-position: left top;min-height: 20px;}
p.ok{background-image: url(EEF/ok.png);}
p.warning{background-image: url(EEF/warning.png);}
p.error{background-image: url(EEF/delete.png);}
p.barred{background-image: url(EEF/cancel.png);}
p.waiting{background-image: url(EEF/clock.png);}
p.info{background-image: url(EEF/info.png);}

/*UTILITY*/

.eef-overflow {
  overflow:auto
}

.eef-clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/*HEADER IMAGE & TITLE*/

.eef-header-box {
  height:500px;
  width:100%
}

div.eef-header {
  background-color:#0068b3;
  position: absolute !important;
  top:0;
  left:20px;
  width:calc(100% - 40px);
  height:300px;
  top:100px;
   
}

.eef-header-left {
  position:absolute;
  left:20px;
  padding-left:20px;
  margin-right:20px;
  top:50px;
  opacity:0.75;
}

.eef-header-centre {
  width: calc(100% - 600px);
  min-width:425px;"
}

.eef-header-right {
  position:absolute;
  padding-right:20px;
  right:20px;
  top:100px;
  opacity:0.75;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .eef-header-right2 { padding-right:40px;right:40px; } /*fix for IE10+*/
}

.eef-header-title {
  font-size:36px;
  
}
@media only screen and (min-width: 1024px) {
.eef-header-title {
  font-size:36px;
}
.eef-header-right {
  opacity:0.75;
}
}

/*HEADER NAVIGATION*/


div.eef-header-menu {
  position: absolute !important;
  top:400px;
  left:20px;
  width:calc(100% - 40px);
  height:60px;
}

div.eef-header-image-menu {
  position: absolute;
  top:300px;
  height:60px; 
  width:100%;
}

.eef-page-links {
  cursor: pointer;
  width: 250px;
  width: 16.666666%;
  display:block;
  float:left;
  height:50px;
  line-height:50px;
  text-align:center;
  border: none;
  outline: none;
  font-size: 14px;
  transition: 0.4s;
  /*  border: 2px solid #7597c5;*/
  
}

.eef-page-links2 {
  cursor: pointer;
  width: 250px;
  width: 24.99999999%;
  display:block;
  float:left;
  height:50px;
  line-height:50px;
  text-align:center;
  border: none;
  outline: none;
  font-size: 14px;
  transition: 0.4s;
  /*  border: 2px solid #7597c5;*/
  
}


.eef-page-links:not(.eef-page-links-active),.eef-page-links2:not(.eef-page-links-active) {
  background-color:#ccf2ff;
  background-color:#007ea8;
  background-color:#0095ff;
  font-size:140%;
  text-decoration:none;
  color:#0068b3;
  color:white;
}

.eef-page-links-active, .eef-page-links:hover, .eef-page-links:focus, .eef-page-links2:hover, .eef-page-links2:focus{
  background-color:#0068b3;
  text-decoration:none;
  font-size:140%;
  color:#0068b3;
  color:white;
}

/*no longer used*/
#eef-logo-home {
  background-color:white;
  border:none;
}

/*no longer used*/
#eef-logo-home:hover {
  background-color:#99e6ff;
}

/*FOOTER*/

.eef-footer {
   height: 200px !important;
}


/*EVIDENCE TOPIC PANELS*/

.eef-plot {
  width:675px;
}

.eef-options-container {
  width:800px;
}
.eef-options-toggle {
  margin:0;
  width:120px;
  width:100% !important;
}
.eef-options {
  margin-left:20px;
  width:210px
}

.eef-options-zoom {
   background-color:#0089eb;
   border:none;
   height:36px;
   width:36px;
   margin:0 6px 0 0;
}

@media only screen and (min-width: 980px) {
 .eef-plot {
  width:75%;
  width:675px;
}

.eef-options-container {
  width:25%;
  width:calc(100%-700px);
}

.eef-options-toggle {
 margin:0;
   width:100% !important;
}
.eef-options {
margin:0;
  width:100%;
} 
}


/*GRID*/

div.eef-grid-container {
  max-width:1024px;
  margin:auto;
}

 

/*The wrapper is used to give a fixed size that the containing elements are scaled relative to.
180px is height of header row, 8% is size of the grid square (relative to total grid) - needs working on before can be made mobile friendly as some lengths are hardcoded in pixels and  some are relative to grid wrapper size*/

.eef-grid-wrapper {
  height:910px;
  width:700px;      /*should equal height-210px*/
  line-height:42px; /*should equal 6% of width*/
  position:relative;
  border-width:1px;
  border-color:black;
  border-style:none;
  margin:auto;
  margin-top:50px;
  
}

.eef-grid-icon {
  height:75%;
  margin-left:6px;
  margin-right:6px;
}

#eef-grid-title {
  height:210px;
  line-height:210px;
  width:50%;
  position:absolute;
  top:0;
  left:0;
  float:left;
  border-style:none;
  border-left-style:solid;
  border-top-style:solid;
  border-width:3px;
  border-color:#80caff;
  background-color:white;
  text-align:center;
}

.eef-grid-equality{
  width:210px;
  position:absolute;
  top:0;
  left:50%;
  float:left;
  border-width:1px;
  border-color:CornflowerBlue;
  border-style:none;
  transform-origin: 0 0;
  transform: translate(0px,210px) rotate(270deg);
}

.eef-grid-content {
  position:absolute;
  top:210px;
  height:calc(100% - 210px);
  left:0;
  width:100%;
  float:left;
  border-width:1px;
  border-color:CornflowerBlue;
  border-style:none;

}

/*Grid text and links*/
.eef-grid-title p{
  height:100%;
  width:100%;
  display:block;
}

.eef-grid-equality a{
 display:block;
 padding-left:0%;
}

/*Grid policy and intersection boxes*/
.eef-grid-square {
  height:6%;
  width:6%;
  float:left;
  border-width:1px;
  border-color:CornflowerBlue;
  border-style:none;
  display:block;
  text-align:center;
  margin:0;
}

.eef-grid-info {
  height:50%;
  width:50%;
  opacity:0.6;
}

.eef-grid-info90 {
  height:20px;
  width:20px;
  opacity:0.6;
  margin-left:10px;
  margin-right:10px;
}

.eef-grid-policy{
  height:6%;
  width:50%;
  float:left;
  border-width:1px;
  border-color:CornflowerBlue;
  border-style:none;
  display:block;
  margin:0;
}

/*Grid hover effects and deactive default link formatting*/
.eef-grid-equality a:hover, .eef-grid-content a:hover{
  color:white;
  text-decoration: none;
  background-color:#5f91ec; /*version 1,2 and 3*/
  background-color:#1b61e4; /*version 4*/
  background-color:#007ea8;
  display:block;
  
}

.eef-grid-equality a:not(:hover), .eef-grid-content a:not(:hover){
  text-decoration: none;
}

/*Grid colours*/

.eef-grid00 {
  background-color:#bbd0f7;/*version 1,2 and 4*/
/*  background-color:#a4c4f4;/*version 3*/
  background-color:#99e6ff;
}

.eef-grid01 {
  background-color:#a4c4f4;/*version 1, 2 and 3*/
  background-color:#96b6f3;/*version 4*/
  background-color:#4dd2ff;
}

.eef-grid10 {
  background-color:#a4c4f4;/*version 1 and 2*/
  background-color:#96b6f3;/*version 4*/
/*  background-color:#bad1f7;/*version 3*/
  background-color:#4dd2ff;
}

.eef-grid11 {
  background-color:#8db0f2;/*version 1*/
  background-color:#76a0ef;/*version 4*/
/*  background-color:#bad1f7;/*version 2 and 3*/
  background-color:#00bfff;
}

.eef-grid20 {
  color:black;
  background-color:#a4c4f4;/*version 1*/
  background-color:#8db0f2;/*version 4*/
/*  background-color:#bad1f7;/*version 3*/
  background-color:#4dd2ff;
 font-size:15px;
 font-weight:normal;
 font-family:Arial;
 }

.eef-grid21 {
  color:white;
  background-color:#8db0f2;/*version 1*/
  background-color:#4881ea;/*version 4*/
/*  background-color:#bad1f7;/*version 2 and 3*/
  background-color:#00ace6;
 font-size:110%;
 font-size:15px;
 font-weight:normal;
 font-family:Arial;
 }

/*SECTION HEADERS & BUTTONS*/

button.eef-section-header {
  cursor: pointer;
  width: 100%;
  height:60px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
  display:block;
  /*  border: 2px solid #7597c5;*/
}

.eef-equality-buttons8 {
  cursor: pointer;
  width: 12.5%;
  float:left;
  height:54px;
  line-height:18px;
  border: none;
  outline: none;
  font-size: 14px;
  transition: 0.4s;
  color:white;
  /*background-color:#00ace6;*/
  /*  border: 2px solid #7597c5;*/
}

.eef-equality-buttons9 {
  cursor: pointer;
  width: 11.1111111111%;
  float:left;
  height:50px;
  border: none;
  outline: none;
  font-size: 12px;
  transition: 0.4s;
  color:white;
  /*background-color:#00ace6;*/
  /*  border: 2px solid #7597c5;*/
}

.eef-equality-buttons-inactive {
  background-color:#757575;
}

.eef-equality-buttons-inactive.selected {
  background-color:#666666;
}

.eef-equality-buttons-dark.selected {
  background-color:#0068b3;
}

.eef-equality-buttons-dark:not(.selected) {
  background-color:#007dd6;
}

.eef-equality-buttons-dark:not(.selected):hover, .eef-equality-buttons-dark:not(.selected):focus {
   background-color:#0071c2;
}

.eef-equality-buttons-light.selected {
  background-color:#007dd6;
}

.eef-equality-buttons-light:not(.selected) {
  background-color:#0095FF;
}

.eef-equality-buttons-light:not(.selected):hover, .eef-equality-buttons-light:not(.selected):focus {
   background-color:#0089eb;
}




/*PARALLAX IMAGES*/

/* Create a Parallax Effect - background-image is added using style attribute*/
.eefParallax {
  background-attachment: fixed;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  left:20px;
  width:calc(100% - 40px);
    
}
@media only screen and (max-device-width: 1024px) {
    .eefParallax{
        background-attachment: scroll;
    }
}


/*PIE CHARTS*/
.eef-pie-chart-container {
  width:50%;
  position:relative;
}

.eef-pie-chart-overlay {
  position:absolute;
  top:120px;
  height:200px;
  width:100%
}

.nav {
  flex-wrap: nowrap;
padding:0
}


/*
   Navbar styles
*/


/*
   Navbar styles
*/


.navbar-default > .container {
   width: 100%;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 2000;
   background-color: #7597c5;
   color: white;
}



.navbar-header, .navbar-default .caret {
   display: none;
}


.navbar-default .navbar-nav > li > a, .dropdown-menu > li > a {
   font-family: 'Gustan', Helvetica, Arial, sans-serif;
   font-size: 16px;
   font-weight: 200;
   color: white;
}

.navbar-default .navbar-nav > li > a, .dropdown-menu > li:hover{
   font-family: 'Gustan', Helvetica, Arial, sans-serif;
   font-size: 16px;
   font-weight: 200;
   color: white;
}

.navbar-default .navbar-nav > li.active > a, .dropdown-menu > li.active > a {
   font-weight: 800;
   color: white;
}

.navbar-default .navbar-nav > li.active > a, .dropdown-menu > li a {
   font-weight: 400;
   color: white;
}


/* Navbar background */
.navbar-default {
   background-color: #7597c5;
}


/* Top-level nav buttons */
.navbar-default .navbar-nav > li > a:hover{
   color:white;
   text-decoration: underline;
}

.navbar-default .navbar-nav > li:hover {
   color: yellow;
   background: transparent;
   /*border-image: linear-gradient(to right, yellow 0%, yellow 100%) 1 1 stretch;
   border-image-width: 1 0 0 0;*/
}

.navbar .nav > li > a, .navbar .nav > li > a:first-letter {
color:          white;
text-shadow:    none;
padding:0;
}
/* Adjust Menu colors - Hover */
.navbar .nav > li > a:hover, .navbar .nav > li > a:hover:first-letter { 
color:          white;                      
text-shadow:    none;
}


.navbar-default .navbar-nav > a:hover {
  text-decoration: underline;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
   color: white;
   background-color: transparent;
   text-decoration: underline;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
   background-color: transparent;
   color: white;
}



/* Drop-down navigation box */

.dropdown-menu {
   color: white;
   background-color: #7597c5;
}
/* Drop-down navigation buttons */

.dropdown-menu > li > a:hover {
   color: white;
   background-color: inherit;
   text-decoration: underline;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
   color: white;
   background-color: inherit;
}